.dnd-zone, .dnd-zone *{
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    cursor:crosshair !important;
}
.handle{
  cursor:grab;
}
.dnd-mirror, .dnd-mirror *{
  pointer-events:none !important;
  transition-duration:0s !important;
}
.dnd-mirror{
  background:transparent;
  z-index:99;
}
.dnd-shadow{
  position:fixed !important;
  visibility:visible !important;
  pointer-events:none !important;
  transition:all var(--dnd-transition-duration) !important;
}
.dnd-transition{
  transition: all var(--dnd-transition-duration) !important;
  overflow:hidden !important;
}
.dnd-dragged{
  visibility:hidden !important;
  transition:all 0s !important;
}
.dnd-zone .dnd-move{
  transition: var(--dnd-transition-duration);
}
.dndZone .dnd-enter-active, .dnd-zone .dnd-leave-active {
  transition:all 0s !important;
  visibility:hidden !important;
}
.dnd-move{
  transition:all 0.2s;
}
.dnd-enter-active, .dnd-leave-active {
  opacity:1;
  transition:all 0.2s;
}
.dnd-enter, .dnd-leave{
  opacity:0;
}
 .dnd-leave-active {
   position:absolute;
 }
